.displayCard
{
	margin: 20px;
	position: absolute;
	left: 150px;
}

.selectedItem {
	position: absolute;
	padding:20px;
	left:600px;
	top: 0px;
}

.featured{
	position: relative;
	top:500px;
	left: 200px;
	display: flex;
	align-items: center;
}

.featuredImage{
	border: 2px solid blue;
	margin:5px;
	padding: 20px;
	background-color: rgb(0,255,255,0.2);
}

.topShelf{
	position: absolute;
	top:0px;
	left:450px;
}

.bottomShelf{
	position: absolute;
	left:450px;
	top:175px;
}

#qty
{
	 background-color: #e2e6ea;
}

#total
{
	 background-color: #e2e6ea;
	 color: green;
	 font-weight:bold;
	 position: relative;
	 left: 200px;
	 top: -70px;
}

.para{
	position: relative;
	left: 160px;
	top: -25px;
}

#payment
{
	margin: -100px;
	position: relative;
	left: 100px;
	font-weight: bold;
}

.imgText{
	border: 2px solid white;
	border-radius: 10px;
	margin-top: 20px;
	background-color: white;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.img2{
	position: absolute;;
	left:150px;
}

.img1{
	position: absolute;;
	left:-60px;
}

.img3{
	position: absolute;
	top: 90px;
	left: -60px;
}

.img4{
	position: absolute;
	top: 90px;
	left: 150px;
}

.smallImgText{
	border: 2px solid white;
	border-radius: 10px;
	margin-top: 10px;
	background-color: white;
	padding: 5px;
	display: flex;
	justify-content: center;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}